<div class="jumbotron">
  <h1>¡Bienvenido!</h1>
	<p class="lead">Con nuestro sistema web que usted será capaz de disfrutar de todas las partes especiales realizadas en Libertador San Martín, Entre Ríos. Para entrar en el sistema debe crear una cuenta de usuario haciendo clic en Reguistrase.</p>
</div>